{#----------------#}
{# templates/admin.html.twig #}
{#----------------#}

{% extends '_base.html.twig' %}

{% block title %}admin home{% endblock %}
{% block pageTitle %}admin page{% endblock %}

{# ------------------------------------------------- #}
{% block adminNavStyle %}current_page{% endblock %}


{% block main %}

    <h1>Welcome to the Admin home page !</h1>

    <h2>What is in the student db table</h2>
need add user, update , delete
    <table>
        <tr>
            <th> id </th>
            <th> username </th>
            <th> password </th>
            <th> joined </th>
            <th> last grade </th>
            <th> current grade</th>
        </tr>
        {% for dvd in dvds %}
            <tr>
                <td>{{ dvd.id }}</td>
                <td>{{ dvd.username }}</td>
                <td>{{ dvd.password }}</td>
                <td>{{ dvd.joined }}</td>
                <td>{{ dvd.lastGrade }} </td>
                <td>{{ dvd.currentGrade }}</td>
            </tr>
        {% endfor %}

    </table>
    <form method="post" action="">
    <table>
        <tr>
            <th> add id </th>
            <th> add username </th>
            <th> add password </th>
            <th> add joined </th>
            <th> add last grade </th>
            <th> add current grade</th>
        </tr>
        <tr>
            <td><input type="number" placeholder="id"></td>
            <td><input type="text" placeholder="username"></td>
            <td><input type="text" placeholder="password"></td>
            <td><input type="date"></td>
            <td><input type="text" placeholder="last grade"></td>
            <td><input type="text" placeholder="current grade"></td>
        </tr>
    </table>
    </form>


{% endblock %}