{#----------------#}
{# templates/admin.html.twig #}
{#----------------#}

{% extends '_base.html.twig' %}

{% block title %}admin home{% endblock %}
{% block pageTitle %}insert page{% endblock %}

{# ------------------------------------------------- #}
{% block adminNavStyle %}current_page{% endblock %}


{% block main %}

    <h1>Welcome to the Admin home page !</h1>

    <h3>Student table</h3>

    <table>
        <tr>
            <th> Id </th>
            <th> Username </th>
            <th> Last Grade </th>
            <th> Current Grade</th>
            <th> Date Joined </th>
        </tr>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.username }}</td>
                <td>{{ student.lastGrade }} </td>
                <td>{{ student.currentGrade }}</td>
                <td>{{ student.date }}</td>
                <td><a href="/update/{{ student.id }}"><input type="button" value="update row"></a></td>
                <td>
                    <form>
                        <a href="/delete/{{ student.id }}"><input type="button" value="delete row"></a>
                    </form>
                </td>
            </tr>
        {% endfor %}

   </table>
<a href="/insert"><input type="button" value="Add to database"></a>

    <h3>Grades table</h3>
    <table>
        <tr>
            <th> Id </th>
            <th> StudentId </th>
            <th> Date </th>

        </tr>
        {% for grade in gradings %}
            <tr>
                <td>{{ grade.id }}</td>
                <td>{{ grade.studentId }}</td>
                <td>{{ grade.date }}</td>

            </tr>
        {% endfor %}

    </table>

    <h3>Attendance table</h3>
    <table>
        <tr>
            <th> Id </th>
            <th> Username </th>
            <th> Date </th>

        </tr>
        {% for anttend in attendances %}
            <tr>
                <td>{{ anttend.id }}</td>
                <td>{{ anttend.username }}</td>
                <td>{{ anttend.date }}</td>

            </tr>
        {% endfor %}

    </table>

    <h3>Techniques table</h3>
    <table>
        <tr>
            <th> Id </th>
            <th> Description </th>
        </tr>
        {% for technique in techniques %}
            <tr>
                <td>{{ technique.id }}</td>
                <td>{{ technique.description }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}