{#----------------#}
{# templates/admin.html.twig #}
{#----------------#}

{% extends '_base.html.twig' %}

{% block title %}admin home{% endblock %}
{% block pageTitle %}insert page{% endblock %}

{# ------------------------------------------------- #}
{% block adminNavStyle %}current_page{% endblock %}


{% block main %}

    <h1>insert page</h1>

    <h2>What is in the student db table</h2>
need add user, update , delete
    <table>
        <tr>
            <th> id </th>
            <th> username </th>
            <th> password </th>
            <th> joined </th>
            <th> last grade </th>
            <th> current grade</th>
        </tr>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.username }}</td>
                <td>{{ student.password }}</td>
                <td>{{ student.joined }}</td>
                <td>{{ student.lastGrade }} </td>
                <td>{{ student.currentGrade }}</td>
            </tr>
        {% endfor %}

    {#</table>#}
    {#<form method="post" action="?action=insertAction">#}
    {#<table>#}
        {#<tr>#}
            {#<th> add id </th>#}
            {#<th> add username </th>#}
            {#<th> add password </th>#}
            {#<th> add joined </th>#}
            {#<th> add last grade </th>#}
            {#<th> add current grade</th>#}
        {#</tr>#}
        {#<tr>#}
            {#<td><input type="number" placeholder="id"></td>#}
            {#<td><input type="text" placeholder="username"></td>#}
            {#<td><input type="text" placeholder="password"></td>#}
            {#<td><input type="date"></td>#}
            {#<td><input type="text" placeholder="last grade"></td>#}
            {#<td><input type="text" placeholder="current grade"></td>#}
        {#</tr>#}
    {#</table>#}
        {#<input type="submit" name="submit" value="Insert to table">#}
    {#</form>#}


{% endblock %}