<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Martial Arts Club {% block title %}{% endblock %}</title>
    <style>
        @import "/../css/style.css";
        @import "/../css/nav.css";
    </style>
</head>
<body>

{% block main %}

    <h2>Hi {{ username }}, here are you details</h2>   <a href="/logout"><input type="button" value="Logout"> </a>

    <table>
        <tr>
            <th> id </th>
            <th> username </th>
            <th> joined </th>
            <th> last grade </th>

            <th> current belt</th>
        </tr>

            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.username }}</td>
                <td>{{ student.date }}</td>
                <td>{{ student.lastGrade }} </td>

                <td>{{ student.belt }}</td>

            </tr>

    </table>
    <p>What class are you attending today?
        {% for descrip in description %}
            <button>{{ descrip.description }}</button>
        {% endfor %}
    </p>

    <p>View the classes needed for each belt
        <a href="/belts"><input type="button" value="belts"> </a>
    </p>

    <p>Grade Update
        <form action="/lastGrade" method="post">
            <input type="hidden" value={{ student.lastGrade }} name="lastBelt">


    <input type="submit" value="last grade">
        </form>
    </p>

    <h3>Attendance table</h3>
    <table>
        <tr>
            <th>Attendance Date's</th>
        </tr>
        {% for attend in attendants %}
            <tr>
                <td>{{ attend.date }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

<footer>
    2016 Ciaran Keyes WebFrameWork Project
</footer>
</body>
</html>
