{% extends '_base.html.twig' %}

{% block main %}

    <h1>Update Student Form</h1>
    <form action="/updateUser/{{ student.id }}" method="post">
        <h1>Create New Module</h1>

        <h3>username</h3>
        <p><input type="hidden" name="id" placeholder="{{ student.id }}"></p>

        <h3>username</h3>
        <p><input type="text" name="username" placeholder="{{ student.username }}"></p>

        <h3>password</h3>
        <p><input type="text" name="password" placeholder="{{ student.password }}"></p>

        <h3>date</h3>
        <p><input type="date" name="joined" placeholder="{{ student.joined }}"></p>

        <h3>last grade</h3>
        <p><input type="text" name="lastGrade"placeholder="{{ student.lastGrade }}"></p>

        <h3>current grade</h3>
        <p><input type="text" name="currentGrade" placeholder="{{ student.currentGrade }}"></p>

        <input type="submit" value="Update user">
    </form>


{% endblock %}